<% include head %>
    <section class="main-content">
      <div class="container">
        <div class="row">
        <% blog.forEach(function(item){ %>
          <div class="col-md-6">
            <div class="col-md-7">
              <h5><a href="/read/<%=item.id%>.html"><%=item.title%></a><br><small><%=formatDate(false,item.create_time)%></small></h5>
              <p class="">
                <%=item.description%>
              </p>
            </div>
            <div class="col-md-5">
              <a href="#" class="thumbnail">
                <img src="http://www.gbtags.com/gb/laitu/500x500" alt="">
              </a>
            </div>
          </div>
         <% }) %>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
        <div class="col-md-offset-3 col-md-9">
          <div class="pagination pagination-minimal">
            <ul>
              <li class="previous"><a href="#fakelink" class="fui-arrow-left"></a></li>
              <li class="active"><a href="#fakelink">1</a></li>
              <li><a href="#fakelink">2</a></li>
              <li><a href="#fakelink">3</a></li>
              <li><a href="#fakelink">4</a></li>
              <li><a href="#fakelink">5</a></li>
              <li><a href="#fakelink">6</a></li>
              <li><a href="#fakelink">7</a></li>
              <li><a href="#fakelink">8</a></li>
              <li><a href="#fakelink">9</a></li>
              <li><a href="#fakelink">10</a></li>
              <li class="pagination-dropdown dropup">
                <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fui-triangle-up"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#fakelink">10–20</a></li>
                  <li><a href="#fakelink">20–30</a></li>
                  <li><a href="#fakelink">40–50</a></li>
                </ul>
              </li>
              <li class="next"><a href="#fakelink" class="fui-arrow-right"></a></li>
            </ul>
          </div>

        </div>
      </div>
      </div>
    </section>
<% include foot %>