    <!-- 主要内容 -->
    <footer>
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@vace</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="/resource/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/resource/js/vendor/video.js"></script>
    <script src="/resource/js/flat-ui.min.js"></script>

  </body>
</html>